<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registra tus vac.app</title>
    <link rel="stylesheet" href="/css/registrar.css">
    <%- include('./partials/head.ejs') %>
</head>
<body>
    <%- include('./partials/header.ejs') %>
    <!--saludo de bienvenida al usuario-->
    <h2 class='registrar-titulo'>Bienvenido nuevamente <%=user.email%> !!!!!!</h2>
    <!--registrar-container incluye un inlet-grande y dos inlet-->
    <div class='registrar-container'>
        <div class="inlet-grande">
            <form class='register' action="/registrar" method="POST">
                <h2 class="boton-ig">1. Registra y pedi la autorizacion de tus vacaciones</h2>
                <br>
                <div class="boton-ig">
                    <label for="desde">Desde:</label><br>
                    <input type="date" name='desde' class='cien' placeholder='Desde'><br>
                    <label for="hasta">Hasta:</label><br>
                    <input type="date" name='hasta' class='cien' placeholder="Hasta"><br>
                </div>
                <p>Carga y confirma el mail de la persona que autoriza tus vacaciones</p>
                <div class="boton-ig">
                    <input type="email" name='autorizante'class='cien' placeholder="Email"><br>
                    <!-- <label for="confirmaremail">Email:</label><br> -->
                    <input type="email" name='confirmaremail'class='cien' placeholder="Confirmar email"><br>
                    <!-- <label for="type">Tipo:</label><br> -->
                    <button type='submit'>Pedilas!!!!!!</button>
                </div> 
            </form>
            <div class="inlet">
                <h2>2. Verifica el estado de tu pedido</h2>
                <div id="menu-auto">
                    <%let pedido = user.pedidos[user.pedidos.length-1]%>
                    <div class="boton">
                       <p>Pedido del:</p>
                       <p>xx/xx/2020</p>
                    </div>
                    <div class="boton">
                        <p>Desde:</p>
                        <p><%=pedido.desde%></p>
                    </div>
                    <div class="boton">
                        <p>Hasta:</p>
                        <p><%=pedido.hasta%></p>
                    </div>
                        <%switch (pedido.estado){
                         case 'Pendiente' :%>
                        <div style='background-color: yellow;' class="botondoble">
                         <p><%=pedido.estado%></p>
                    </div>
                    <%break%>
                    <%case 'Autorizado' :%>
                    <div style='background-color: green;' class="botondoble">
                        <p><%=pedido.estado%></p>
                    </div>
                    <%break%>
                    <%case 'Rechazado' :%>
                    <div style='background-color: red;' class="botondoble">
                        <p><%=pedido.estado%></p>
                    </div>
                    <%break%>
                    <%}%>
                    <div class="boton">
                        <form>
                            <button type='submit'>Imprimi tu formulario</button>
                        </form>
                    </div>    
                </div>     
            </div>  
        </div>
        
        <div class="inlet-grande">
        <h2>3. Mira tus vacaciones anteriores</h2>
        </div>
    </div>

    <%- include('./partials/footer.ejs') %>
</body>
</html>